body{
    background-color: #96BAFF;
    margin: 0px 23%;
}

hr{
    width: 25vw;
    height: 2px;
    background-color: #7C83FD;
}

#main{
    min-height: 100vh;
    height: fit-content;
    padding-top: 0.1px;
    background-color: white;
}

#header{
    margin: 1vw 1vw;
    background-color: #96BAFF;
    border-radius: 300px;
    display: flex;
    align-items: center;
}

#headerImg{
    margin-left: 1vw;
    padding: 5px;
    width: 5vw;
    flex:1;
}

#headerText{
    padding-right: 7vw;
    text-align: center;
    font-size: 60px;
    color: white;
    flex:7;
}

#modifyScheduleForm{
    margin: 3vw;
    padding: 30px;
    background-color: #96BAFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#dateAndTime{
    display: flex;
}
#date{
    margin-right: 5vw;
    padding: .5vw 2vw;
    background-color: #96BAFF;
    border-radius: 100px;
    border: 2px solid white;
    color: white;
    flex: 1;
}
#time{
    margin-left: 5vw;
    padding: .5vw 2vw;
    background-color: #96BAFF;
    border-radius: 100px;
    border: 2px solid white;
    color: white;
    flex: 1;
}
#description{
    min-height: 20vh;
    margin: 1vw 0px;
    padding: .5vw 2vw;
    background-color: #96BAFF;
    border-radius: 20px;
    border: 2px solid white;
    color: white;
    font-size: 20px;
}
#description::placeholder{
    color: white;
}
#btns{
    display: flex;
    justify-content: flex-end;
}
.btn{
    margin-left: 1vw;
    padding: .5vw 2vw;
    background-color: #96BAFF;
    border-radius: 20px;
    border: 2px solid #7C83FD;
    color: #7C83FD;
    font-size: 20px;
}
.btn:hover{
    background-color: #8caeec;
}
.btn:active{
    background-color: #7998d3;
    outline: none;
}

@media all and (min-width:1200px) and (max-width:1600px) {

}

@media all and (min-width:768px) and (max-width:1200px) {
    #headerText{
        padding-right: 7vw;
        font-size: 40px;
    }

    .btn{
        font-size: 15px;
    }
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 
@media all and (max-width:767px) {
    #headerText{
        padding-right: 7vw;
        font-size: 25px;
    }
    
    #btns{
        display: flex;
    }
    .btn{
        font-size: 13px;
        flex: 1;
    }
}