body{
    background-color: #96BAFF;
    margin: 0px 35%;
}

#window{
    height: fit-content;
    margin: 15vh 0px;
    padding: 1vh 4vw;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#header{
    margin: 1vh 0px;
    color: #96BAFF;
    font-weight: 800;
    font-size: 30px;
    text-align: center;
}

#content{
    display: flex;
    flex-direction: column;
}

.inputBox{
    height: 40px;
    margin: 1.5vh 0px;
    padding-left: 20px;
    border-radius: 100px;
    border: 3px solid #96BAFF;
    color: #96BAFF;
    font-size: 30px;
}
.inputBox::placeholder{
    color: #96BAFF;
}
.inputBox::-webkit-autofill{
    color: #96BAFF;
}
.inputBox::-webkit-autofill:focus{
    color: #96BAFF;
}
.inputBox::-webkit-autofill:hover{
    color: #96BAFF;
}
.inputBox::-webkit-autofill:active{
    color: #96BAFF;
}

#btnBox{
    margin: 1vh 2vw;
    display: flex;
    justify-content: space-between;
}

.signBtn{
    padding: 10px;
    background-color: #96BAFF;
    border-radius: 100px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.signBtn:link{
    text-decoration: none;
}

@media all and (min-width:1200px) and (max-width:1600px) {
    body{
        margin: 0px 35%;
    }

    #header{
        font-size: 24px;
    }
}

@media all and (min-width:768px) and (max-width:1200px) {
    body{
        margin: 0px 30%;
    }

    #window{
        margin: 10vh 0px;
        border-radius: 20px;
    }

    #header{
        margin: .5vh 0px;
        font-weight: 700;
        font-size: 25px;
    }

    .inputBox{
        height: 20px;
        margin: 1vh 0px;
        font-size: 20px;
    }

    .signBtn{
        padding: 5px;
        background-color: #96BAFF;
        border-radius: 100px;
        border: none;
        color: white;
        font-size: 20px;
        font-weight: bold;
    }
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 
@media all and (max-width:767px) {
    body{
        margin: 0px 30%;
    }

    #window{
        margin: 5vh 0px;
        border-radius: 20px;
    }

    #header{
        margin: .25vh 0px;
        font-weight: 600;
        font-size: 13px;
    }

    .inputBox{
        height: 15px;
        margin: .5vh 0px;
        padding-left: 10px;
        font-size: 15px;
    }

    .signBtn{
        padding: 5px;
        background-color: #96BAFF;
        border-radius: 100px;
        border: none;
        color: white;
        font-size: 15px;
        font-weight: bold;
    }
}