/* 최소 해상도 480px */

body{
    background-color: #96BAFF;
    margin: 0px 23%;
}

#main{
    min-height: 100vh;
    height: fit-content;
    padding-top: 0.1px;
    background-color: white;
}

#header{
    padding: 5px 0px;
    margin: 2vh 10vw;
    background-color: #96BAFF;
    border-radius: 30px;
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

#navigation{
    height: fit-content;
    padding: 0px 3vh;
    display: flex;
}

.navigationArrowMonthBtn{
    height: fit-content;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    flex: 1;
}
.navigationArrowMonthBtn:hover{
    background-size: 120px;
    cursor: pointer;
}
.navigationArrowMonthBtn:focus{
    border: none;
    outline: none;
}

.arrowBtnLeft{
    background-image: url("../img/schedule/navigationArrowMonthBtn_Left.png");
}
.arrowBtnLeft:active{
    background-image: url("../img/schedule/navigationArrowMonthBtn_Left_Pressed.png");
}

.arrowBtnRight{
    background-image: url("../img/schedule/navigationArrowMonthBtn_Right.png");
}
.arrowBtnRight:active{
    background-image: url("../img/schedule/navigationArrowMonthBtn_Right_Pressed.png");
}

.navigationArrowMonthBtnImg{
    visibility: hidden;
}

#navigationCenter{
    color: #7C83FD;
    flex: 3;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}
#navigationCenterYear{
    padding-right: 10px;
    font-size: 55px;
    text-shadow: 2px 2px 2px rgb(88, 88, 88);
}
#navigationCenterMonth{
    padding: 0px 10px;
    font-size: 100px;
    font-weight: 900;
    text-shadow: 2px 2px 2px rgb(88, 88, 88);
}
#navigationCenterTextSchedules{
    font-size: 60px;
}

#createScheduleBox{
    width: fit-content;
    margin-left: auto;
    margin-right: 2vw;
    padding: 1px 3px;
    background-color: #96BAFF;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#createScheduleBox:hover{
    background-color: #87aae9;
    cursor: pointer;
}
#createScheduleBox:active{
    background-color: #7894ca;
}
#createScheduleText{
    padding: 0px 10px;
    text-decoration: none;
    font-size: 20px;
}
#createScheduleText:visited{
    color: white;
    text-decoration: none;
}
#createScheduleImg{
    width: 30px;
    padding: 5px;
}

.separatorHr{
    width: 25vw;
    height: 2px;
    background-color: #7C83FD;
}
.separatorDate{
    margin-left: 5vw;
    margin-right: auto;
    color: #7C83FD;
    font-size: 20px;
}

#content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.scheduleBox{
    height: fit-content;
    width: 45vw;
    margin: 0px auto;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #96BAFF;
    border-radius: 10px;
    display: flex;
    flex: 1;
    align-items: stretch;

}
.scheduleContent{
    min-height: 100px;
    background-image: url(../img/schedule/X_7C83FD.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex: 3;
    flex-direction: column;
}
.scheduleDateTime{
    padding-bottom: 5px;
    display: flex;
    color: #88FFF7;
    font-size: 20px;
}
.scheduleDateTime_date{
    flex: 1;
}
.scheduleDateTime_time{
    flex: 2;
}
.scheduleDescription{
    padding: 0px 50px;
    color: white;
    font-size: 25px;
}

.scheduleBtnBox{
    flex: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.modifyBtn{
    background-image: url(../img/schedule/editScheduleBtn.png);
}
.modifyBtn:hover{
    background-image: url(../img/schedule/editScheduleBtn_Hover.png);
}
.modifyBtn:active{
    background-image: url(../img/schedule/editScheduleBtn_Pressed.png);
}
.deleteBtn{
    background-image: url(../img/schedule/deleteScheduleBtn.png);
}
.deleteBtn:hover{
    background-image: url(../img/schedule/deleteScheduleBtn_Hover.png);
}
.deleteBtn:active{
    background-image: url(../img/schedule/deleteScheduleBtn_Pressed.png);
}
.scheduleBtn{
    min-height: 100px;
    margin: 0px .3vw;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    flex: 1;
}
.scheduleBtn:focus{
    border: none;
    outline: none;
}
.scheduleBtn:active{
}

/* */

@media all and (min-width:1200px) and (max-width:1600px) {
    #navigation{
        padding: 0px 0px;
    }
    .navigationArrowMonthBtnImg{
        width: 80px;
    }
    .navigationArrowMonthBtn:hover{
        background-size: 90px;
        cursor: pointer;
    }
    
    #navigationCenterYear{
        padding-right: 0px;
        font-size: 40px;
    }
    #navigationCenterMonth{
        font-size: 80px;
    }
    #navigationCenterTextSchedules{
        font-size: 50px;
    }
    
    .arrowBtnLeft{
        background-size: 80px;
    }
    .arrowBtnRight{
        background-size: 80px;
    }
}

@media all and (min-width:768px) and (max-width:1200px) {
    #navigation{
        padding: 0px 0px;
    }
    .navigationArrowMonthBtnImg{
        width: 60px;
    }
    .navigationArrowMonthBtn:hover{
        background-size: 60px;
    }
    .navigationArrowMonthBtn:active{
        background-size: 65px;
        cursor: pointer;
    }

    #navigationCenterYear{
        padding-right: 0px;
        font-size: 20px;
    }
    #navigationCenterMonth{
        font-size: 50px;
    }
    #navigationCenterTextSchedules{
        font-size: 30px;
    }
    
    .arrowBtnLeft{
        background-size: 60px;
    }
    .arrowBtnRight{
        background-size: 60px;
    }

    #createScheduleBox{
        margin-top: 10px;
        padding: .5px 1.5px;
    }
    #createScheduleText{
        padding: 0px 5px;
        font-size: 15px;
    }
    #createScheduleImg{
        width: 20px;
        padding: 2.5px;
    }

    .scheduleBox{
        margin-bottom: 10px;
        padding: 5px;
        flex-direction: column;
    }
    .scheduleContent{
        min-height: 70px;
        background-image: url(../img/schedule/X_7C83FD.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .scheduleDateTime{
        font-size: 18px;
    }
    .scheduleDescription{
        padding: 0px 20px;
        font-size: 20px;
    }

    .scheduleBtnBox{
        justify-content: space-evenly;
    }
    .scheduleBtn{
        max-width: 100px;
        height: 70px;
        margin-top: 1vh;
    }
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 
@media all and (max-width:767px) {
    #header{
        font-weight: 900;
        font-size: 15px;
    }

    #navigation{
        padding: 0px 0px;
    }
    .navigationArrowMonthBtn{
        padding: 0px 0px;
    }
    .navigationArrowMonthBtn:hover{
        background-size: 30px;
    }
    .navigationArrowMonthBtn:active{
        background-size: 33px;
        cursor: pointer;
    }
    .navigationArrowMonthBtnImg{
        width: 30px;
    }
    
    #navigationCenterYear{
        padding-right: 0px;
        font-size: 20px;
    }
    #navigationCenterMonth{
        padding: auto;
        font-size: 30px;
    }
    #navigationCenterTextSchedules{
        font-size: 20px;
    }
    
    .arrowBtnLeft{
        background-size: 30px;
    }
    .arrowBtnRight{
        background-size: 30px;
    }

    #createScheduleBox{
        margin-top: 7px;
        padding: 0px .5px;
    }
    #createScheduleText{
        padding: 0px 5px;
        font-size: 13px;
    }
    #createScheduleImg{
        width: 20px;
        padding: 2.5px;
    }

    .scheduleBox{
        flex-direction: column;
    }
    .scheduleDateTime{
        font-size: 13px;
    }
    .scheduleDescription{
        padding: 0px 10px;
        font-size: 15px;
    }
    
    .scheduleBtn{
        min-height: 50px;
        max-width: 50px;
        margin-top: 1vh;
        background-position: top;
    }
}