.center {
  text-align: center;
  width: fit-content;
  margin: 0 auto;
}

#TopOfLogo {
  height: 100px;
}

#Logo {
  display: block;
  margin: 0px auto;
  width: 40%;
}

.Input {
  width: 600px;
  height: 45px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: large;
}

.LoginBtn {
  background-color: green;
  color: white;
  width: 100%;
  height: fit-content;
  margin: 10px 0;
  padding: 20px;
  /* padding-left: 10px;
  padding-right: 10px; */
  font-size: x-large;
}

#bottomOfInput {
  margin: 20px 0;
  /* text-align: justify; */
  /* justify? 이건 뭐지 */
  display: flex;
  justify-content: space-between;
}

#LoginStatus {
  border: none;
  background-color: inherit;
  font-size: large;
  font-weight: 200;
  display: flex;
}

#LoginStatusImg {
  width: 32px;
  height: 32px;
}

#Text_IP {
  font-weight: bolder;
}

#Text_OFF {
  font-weight: bold;
  color: gray;
}

body {
  background-color: rgb(244, 246, 248);
}
