body {
  background-color: rgb(249, 249, 249);
}

#VideoTopMargin {
  height: 70px;
}
#VideoBody {
  display: flex;
}
.VideoLeftMargin {
  width: 60px;
  flex: none;
}
.VideoMargin {
  flex-basis: 200px;
}

#Videos {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.VideoUnit {
  min-width: 200px;
  max-width: 450px;
  height: fit-content;
  margin: 10px;
  flex: 20%;
}
@media (min-width: 1650px) {
  .VideoUnit {
    flex: 18%;
  }
}
/* 
.VideoUnit {
  min-width: 200px;
  height: fit-content;
  margin: 10px;
  flex-basis: 350px;
  flex-grow: 0;
  flex-shrink: 1;
} */

.VideoThumnail {
  width: 100%;
  margin-bottom: 10px;
  display: block;
  position: relative;
}
.VideoBottom {
  display: flex;
}
.VideoChannelProfile {
  width: 35px;
  height: 35px;
  margin-right: 15px;
  border-radius: 50%;
}
.VideoTopic {
  margin-bottom: 5px;
}
/* .VideoChannelName {
  color: gainsboro;
  font-size: 13px;
} */
.VideoDetails {
  color: rgb(153, 153, 153);
  font-size: 13px;
  overflow: hidden;
}
/* 
→ flex 종류

justify-content
align-items
flex-direction
order
align-self
flex-wrap
flex-flow
align-content
*/ ;
