#MenuBar {
  margin-top: -8px;
  padding: 3px 16px;
  position: fixed;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  /* height: 55px; */

  background-color: white;
  z-index: 2;
}
#MenuBar > div {
  display: inline;
}

#start{
  width: fit-content;
}
#center{
  flex: 2 2 0;
  align-content: flex-end;
}
#end{
  width: fit-content;
}

#MenuBarBtn {
  border: none;
  background-color: white;
}

#YouTubeLogoBtn {
  border: none;
  background-color: white;
  width: fit-content;
  padding: 10px;
}

.MenuBtn {
  width: 50px;
  border: none;
  background-color: white;
}
.Profile {
  width: 30px;
  border-radius: 50%;
}

@media screen and (max-width: 650px) {
  #Search {
    visibility: hidden;
  }
}
#Search {
  height: 30px;

  display: flex;
  justify-content: center;
}
#SearchInput {
  width: 50%;
  border: 1px solid rgb(182, 182, 182);
  border-right: none;
  margin: 0px;
}
#SearchInputKeyBoardBtn{
  width: 30px;
  position: relative;
  right: 162px;

  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
}
#SearchInputKeyBoardBtn > img{
  width: 20px;
}
#SearchBtn {
  width: 70px;
  margin-left: 0px;
  padding: 0px;

  border: 1px solid rgb(182, 182, 182);
  background-color: rgb(248,248,248);
}
#SearchBtn > img {
  width: 50px;
}

#MenuRight {
  display: inline;
}
