body{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#startBtn{
    height: 100px;
    background-color: rgb(212, 212, 212);
    border: rgb(0, 184, 9) 2px solid;
    border-radius: 50px;
    font-size: 70px;
    color: rgb(39, 39, 39);
}
#startBtn:focus{
    background-color: rgb(184, 184, 184);
}
#startBtn:active{
    background-color: rgb(145, 145, 145);
}

#timer{
    text-align: center;
    font-size: 70px;
}

#cardBox{
    margin-bottom: 50px;
    display: flex;
}

.card{
    width: 100px;
    height: 120px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bolder;
}

.numCard{
    border: solid 1px teal;
    color: rgb(70, 70, 70);
}

#gameEndSign{
    visibility: hidden;
    text-align: center;
    color: red;
    font-weight: bolder;
    font-size: 100px;
}

#placeBox{
    margin-top: 50px;
    display: flex;
}

.placeCard{
    border: solid 1px royalblue;
    color: red
}