body {
  background-color: rgb(249, 249, 249);
}

/* Menu Bar */
#MenuBar {
  margin-top: -8px;
  padding: 3px 16px;
  position: fixed;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  /* height: 50px; */

  background-color: white;
  z-index: 2;
}
/* 접근자를 사용하는 것보다 class사용이 나음 
  html의 id 내지 class를 보고 찾는 상황을 고려할 것. */
#MenuBar > div {
  display: flex;
}

#menuBarLeft {
  width: fit-content;
}
#menuBarCenter {
  min-width: 0px;
  flex: 2 2 0;
  align-items: center;
}
#menuBarRight {
  width: fit-content;
}

#menuBarBtn {
  border: none;
  background-color: white;
}

#YouTubeLogoBtn {
  border: none;
  background-color: white;
  width: fit-content;
  padding: 10px;
}

.MenuBtn {
  width: 50px;
  border: none;
  background-color: white;
}
.Profile {
  width: 30px;
  border-radius: 50%;
}

/* css 속성 순서도 개발자 나름이지만 정규화를 시킬 것 */
#Search {
  width: 100%;
  height: 30px;

  display: flex;
  justify-content: center;
}
#SearchInput {
  min-width: 10px;
  max-width: 550px;
  margin-left: 30px;
  border: 1px solid rgb(182, 182, 182);
  border-right: none;

  flex: 2 2 0;
}
#SearchInputKeyBoardBtn {
  width: 30px;
  position: relative;
  right: 162px;

  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
}
#SearchInputKeyBoardBtn > img {
  width: 20px;
}
#SearchBtn {
  width: 70px;
  margin-left: 0px;
  padding: 0px;

  border: 1px solid rgb(182, 182, 182);
  background-color: rgb(248, 248, 248);
}
#SearchBtn > img {
  width: 50px;
}

#MenuRight {
  display: flex;
}

/* Side Bar */

#sideBar {
  width: fit-content;
  height: 100%;
  margin-top: 48px;
  padding-right: 10px;
  background-color: white;
  position: fixed;
  left: 0px;
  z-index: 1;
}

.closeMenuSideBtn {
  width: 60px;
  padding: 16px 0;
  border: none;
  background-color: white;
}
.closeMenuSideBtn > div {
  margin: 0 5px;
}
.closeMenuSideBtn > div > img {
  display: block;
  width: 25px;
  margin: 0 auto;
}
.closeMenuSideBtn > div > a {
  font-size: 11px;
}

#sideBarOpened {
  width: fit-content;
  height: 90%;
  /* feedback : 
  밑쪽 스포츠가 잘리지 않으려면 height 100%연산을 먼저 하고 
  그 후에 header의 고정값 높이를 빼주는 방식으로 처리가능 */
  padding-right: 10px;
  background-color: white;
  position: fixed;
  left: -300px;
  top: 56px;
  z-index: 2;
  transition-duration: 0.3s;
  overflow-y: scroll;
}

#openedMenu {
  width: 225px;
}

.menuBtnBox {
  padding: 12px 0px;
  border-bottom: 1px solid rgb(212, 212, 212);
}
.menuBtnBoxDetail {
  margin-left: 26px;
  margin-bottom: 10px;
  font-size: 14px;
  color: rgb(100, 100, 100);
}

.bold {
  font-weight: bold;
}

.openMenuSideBtn {
  width: 100%;
  height: 40px;
  padding: 0px 24px;
  display: flex;
  align-items: center;
  background-color: white;
  border: none;
}
.openMenuSideBtn:hover {
  cursor: pointer;
  background-color: rgb(236, 236, 236);
}
/*  */
/* focus와 clicked의 결과 차이 */
.openMenuSideBtn:focus {
  background-color: rgb(211, 211, 211);
  outline: 0;
}
.openMenuSideBtn:active {
  /* 왜 안되지 active? */
  /* background-color: rgb(175, 175, 175); */
  background-color: rgb(192, 192, 192);
}

.openMenuBtnImg {
  margin-right: 20px;
}

.openMenuCh_ProfileImg {
  width: 30px;
  margin-right: 20px;
  border-radius: 50%;
}

.TextRed {
  color: red;
}

/* video */

#videoTopMargin {
  height: 70px;
}
#videoBody {
  margin: 0 30px;
  margin-left: 100px;
  display: flex;
  transition-duration: 0.3s;
}

#videos {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.videoUnit {
  min-width: 200px;
  max-width: 450px;
  height: fit-content;
  margin: 10px;
  flex: 20%;
}

.videoThumnail {
  width: 100%;
  margin-bottom: 10px;
  display: block;
  position: relative;
}
.videoBottom {
  display: flex;
}
.videoChannelProfile {
  width: 35px;
  height: 35px;
  margin-right: 15px;
  border-radius: 50%;
}
.videoTopic {
  margin-bottom: 5px;
}
/* .videoChannelName {
    color: gainsboro;
    font-size: 13px;
  } */
.videoDetails {
  color: rgb(153, 153, 153);
  font-size: 13px;
  overflow: hidden;
}
@media screen and (min-width: 1650px) {
  .videoUnit {
    flex: 18%;
  }
}

/* media query를 작성시, 변경되면서 적용시킬 화면 픽셀 단위
  (e.g. 1200px 미만부터 적용되는 쿼리)에 따라 
  media query 부분을 아예 나누어(밑을 빼서) 작성. 
  간혹 media query에 따라 파일을 나누기도 함*/
@media screen and (max-width: 650px) {
  #Search {
    visibility: hidden;
  }
}
