body {
  text-align: center;
  margin: auto;
}
#title {
  font-size: 40px;
  margin: 20px;
}

#inputNum {
  height: fit-content;
  display: flex;
  justify-content: center;
}
.inputBox {
  min-width: 30px;
  width: 50px;
  height: 70px;
  margin: 15px 10px;
  padding: 0px 10px;
  font-size: 50px;
  border-bottom: 3px solid springgreen;
}

.numPanel {
  margin: auto;
  display: flex;
  justify-content: center;
  flex: 1 1 0;
}
.numPad {
  width: 100px;
  max-width: 200px;
  height: 100%;
  margin: 10px;
  padding: 4% 0px;
  flex: 1 1 0;
  font-size: 50px;
}

#randNumBtn {
}
#eraseBtn {
}
#playBtn {
}

#result {
}
